importFrom(graphics, axis, legend, lines, plot, points)
importFrom(stats, dnorm, quantile, runif, sd, var)

exportMethods("Dataset",
"getData",
"getFeatureSet",
"featureSet<-",
"getResponses",
"getNumberOfInstances",
"normalize",
"normalizeBy",
"calculateFolds",
"splitByFolds",
"unscaleVector",
"saveObject",
"loadObject",
"averageError",
"learnFromDataset",
"predictDataset",
"TwinScan",
"selectFeatures",
"ModelEvaluation",
"evaluateInCV",
"getPredictionsOfCV",
"evaluateConfidenceEstimates",
"getEstimatedPerformance",
"plotConfidenceIntervals",
"Regression",
"FastRegression",
"ConfidenceEstimatorNNVariance",
"ConfidenceEstimatorNNErrors",
"ConfidenceEstimatorNumberOfNeighbors",
"ConfidenceEstimatorDifferenceToNeighbors",
"ConfidenceEstimatorMinimumDistance",
"ConfidenceEstimatorAverageDistance",
"ConfidenceEstimatorAverageBiasedDistance",
"ConfidenceEstimatorSVM",
"ConfidenceEstimatorBagging",
"ConfidenceEstimatorPredictiveVariance",
"ConfidenceEstimatorLocalVariance",
"ConfidenceEstimatorLocalBias",
"ConfidenceEstimatorLocalCV",
"create",
"estimate"
)
exportClasses(
	"Dataset",
	"Regression",
	"FastRegression",
     "FeatureSelection",
     "TwinScan",
     "ModelEvaluation",
	 "ConfidenceEstimator",
	 "ConfidenceEstimatorNNErrors",
	 "ConfidenceEstimatorNNVariance",
	"ConfidenceEstimatorNumberOfNeighbors",
	"ConfidenceEstimatorDifferenceToNeighbors",
	"ConfidenceEstimatorMinimumDistance",
	"ConfidenceEstimatorAverageDistance",
	"ConfidenceEstimatorAverageBiasedDistance",
	"ConfidenceEstimatorSVM",
	"ConfidenceEstimatorBagging",
	"ConfidenceEstimatorPredictiveVariance",
	"ConfidenceEstimatorLocalVariance",
	"ConfidenceEstimatorLocalBias",
	"ConfidenceEstimatorLocalCV"
)


 
